@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&display=swap');

:root {
  --primary-color: var(--primary-light-color);
  --secondary-color: var(--secondary-light-color);
  --accent-color: 66, 212, 37;
  --text-color: var(--text-light-color);
  --background-color: var(--background-light-color);
  --border-color: var(--border-light-color);
  --primary-light-color: 255, 255, 255;
  --secondary-light-color: 221, 221, 221;
  --text-light-color: 0, 0, 0;
  --background-light-color: 100, 149, 237;
  --border-light-color: 153, 153, 153;
  --button-color: 70, 130, 180;
  --button-text-color: 255, 255, 255;
  --button-hover-color: 65, 105, 225;
  --primary-dark-color: 47, 47, 47;
  --secondary-dark-color: 51, 51, 51;
  --text-dark-color: 255, 255, 255;
  --background-dark-color: 26, 77, 189;
  --border-dark-color: 85, 85, 85;
  --button-dark-color: 47, 79, 127;
  --button-text-dark-color: 255, 255, 255;
  --button-hover-dark-color: 26, 29, 35;
}

.dark-mode {
  --primary-color: var(--primary-dark-color);
  --secondary-color: var(--secondary-dark-color);
  --text-color: var(--text-dark-color);
  --background-color: var(--background-dark-color);
  --border-color: var(--border-dark-color);
  --button-color: var(--button-dark-color);
  --button-text-color: var(--button-text-dark-color);
  --button-hover-color: var(--button-hover-dark-color);
}

body {
  font-family: 'Alkatra', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(var(--primary-color), 1);
}
